<!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" href="./styles.css">
  <script src="./app.js"></script>
  </head>
  <body>
    <div>
    <input  class="inputmargin" value="" placeholder="Name" id="name" /></br>
    <input class="inputmargin" placeholder="Phone no" id="phoneno"></br>
    <input class="inputmargin" id="email" placeholder="Email"></br>
    <textarea placeholder="About" id="w3review" name="w3review" rows="4" cols="50">
</textarea>
</div>

<div>
  <a href="/response"> 
  <button onclick="onSend(event)" class="btnmargin" type="button">Send</button>
  </a>
</div>
  </body>
</html>
